{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Django &amp; 小窝</title>


    <!-- css -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
{#    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">#}


    {#导入代码高亮提示样式#}
    <link rel="stylesheet" href="{% static 'syntaxhighlighter/styles/shCore.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'syntaxhighlighter/styles/shThemeDjango.css' %}" type="text/css" rel="stylesheet">


    {# js#}
    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>

    {#代码高亮提示脚本#}
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shCore.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushBash.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushCpp.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushCSharp.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushCss.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushDelphi.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushJava.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushJScript.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushPerl.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushPhp.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushPython.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushScala.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushXml.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushRuby.js' %}"></script>
    <script type="application/javascript" src="{% static 'syntaxhighlighter/scripts/shBrushSql.js.js' %}"></script>
    <script type="text/javascript">SyntaxHighlighter.all();</script>

    <style>
        span.highlighted {
            color: red;
        }
    </style>
</head>

<body>
<div>
    {% include 'nav.html' %}
</div>


<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block main %}

                {% endblock main %}

            </main>
            <aside class="col-md-4">
                {% block toc %}
                {% endblock toc %}
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    {% get_recent_posts as recent_post_list %}
                    <ul>
                    {% for post in recent_post_list %}
                        <li>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </li>
                        {% empty %}
                        暂无文章
                    {% endfor %}
                    </ul>
                    <ul>
                        <li>
                            <a href="#">Django 博客开发入门教程：前言</a>
                        </li>
                        <li>
                            <a href="#">Django 博客使用 Markdown 自动生成文章目录</a>
                        </li>
                        <li>
                            <a href="#">部署 Django 博客</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    {% archive as date_list %}
                    <ul>
                    {% for date in date_list %}
                        <li>
                            <a href="{% url 'blog:archive' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                        </li>
                        {% empty %}
                        暂无归档
                    {% endfor %}
                    </ul>
                    <ul>
                        <li>
                            <a href="#">2017 年 5 月</a>
                        </li>
                        <li>
                            <a href="#">2017 年 4 月</a>
                        </li>
                        <li>
                            <a href="#">2017 年 3 月</a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    {% get_category as category_list %}
                    <ul>
                        {% for category in category_list %}
                            <li>
                                <a href="{% url 'blog:category' category.pk %}">{{ category.name }} <span class="post-count">{{ category.num_posts }}</span></a>
                            </li>
                            {% empty %}
                            暂无分类
                        {% endfor %}
                    </ul>
                        <li>
                            <a href="#">Django 博客教程 <span class="post-count">(13)</span></a>
                        </li>
                        <li>
                            <a href="#">Python 教程 <span class="post-count">(11)</span></a>
                        </li>
                        <li>
                            <a href="#">Django 用户认证 <span class="post-count">(8)</span></a>
                        </li>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    {% get_tag as tag_list %}
                    <ul>
                        {% for tag in tag_list %}
                        <li>
                            <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                        </li>
                        {% empty %}
                            暂无标签！
                        {% endfor %}

                    </ul>
                    <ul>
                        <li>
                            <a href="#">Django</a>
                        </li>
                        <li>
                            <a href="#">Python</a>
                        </li>
                        <li>
                            <a href="#">Java</a>
                        </li>
                        <li>
                            <a href="#">笔记</a>
                        </li>
                        <li>
                            <a href="#">文档</a>
                        </li>
                        <li>
                            <a href="#">AngularJS</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">Snippet</a>
                        </li>
                        <li>
                            <a href="#">jQuery</a>
                        </li>
                    </ul>
                </div>
                <div class="rss">
                    <a href="{% url 'rss' %}"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
            </aside>
        </div>
    </div>
</div>
{% include 'footer.html' %}
<script src="js/script.js"></script>
<script src="{% static 'blog/js/script.js' %}"></script>
</body>
</html>