{% load staticfiles %}
<div class="navbar navbar-inverse navbar-fixed-top affix-top" data-spy="affix" data-offset-top="1">
    <nav role="navigation">
        <div class="container">
            <div class="nav navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-label="Expand and Collapse Menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span itemprop="name">Evenの小窝</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a id="nav-docs" href="{% url 'blog:index' %}">首页</a></li>
                    <li><a id="nav-updates" href="{% url 'blog:index' %}">博客</a></li>
                    <li><a id="nav-blogs" href="{% url 'blog:about' %}">关于</a></li>
                    <li><a id="nav-community" href="{% url 'blog:contact' %}">联系</a></li>
                    <li><a href="#" target="_blank" id="nav-extensions">其他</a></li>
                    <li><a id="nav-faqs" href="#">FAQ</a></li>
                    <li class="visible-xs"><a href="#" target="_blank">GitHub Project</a></li>
                    <li class="search visible-xs"><a href="#">Search</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" title="Search" class="btn search-btn" id="nav-search">
                            <img class="search-icon"
                                 src="{% static 'src/search.svg' %}"
                                 width="16px" height="16px" alt="Search">
                            <img class="search-icon-inverted"
                                 src="{% static 'src/search_dark.svg' %}"
                                 width="16px" height="16px" alt="Search">
                        </a>
                    </li>
                    <li class="search">
                        <form class="nav-search search-form">
                            <div class="input-group">
                                <input type="text" name="q" class="search-box form-control" placeholder="Search Blogs">
                                <span class="input-group-btn">
                                    <button tabindex="0" class="btn" type="submit" aria-label="Search">
                                        <img class="search-icon"
                                                         src="{% static 'src/search.svg' %}"
                                                         width="16px" height="16px" alt="Search">
                                        <img class="search-icon-inverted"
                                                         src="{% static 'src/search_dark.svg' %}"
                                                         width="16px" height="16px" alt="Search">
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <!-- this was hiden in the home and download page, keeping it for now -->
                    <li><a itemprop="downloadUrl" class="link-button" href="#"
                           id="nav-download">
                        <img class="download-icon"
                             src="{% static 'src/download.svg' %}"
                             width="16px" height="16px" alt="Download VS Code">
                        <img class="download-icon-inverted"
                             src="{% static 'src/download-black.svg' %}"
                             width="16px" height="16px" alt="Download Resource">
                        <span class="hidden-sm">Download</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>