{% load staticfiles %}
<div id="main" itemscope="" itemtype="http://schema.org/SoftwareApplication">
    <a role="button" id="skip-to-content" class="link-button"
       href="https://code.visualstudio.com/blogs/2018/12/04/rich-navigation#main-content">Skip to
        content<i>&nbsp;</i><span class="glyphicon glyphicon-menu-down"></span></a>
    <div class="navbar navbar-inverse">
        <nav role="navigation">
            <div class="container">
                <div class="nav navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                            aria-label="Expand and Collapse Menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'blog:index' %}"><span itemprop="name">Evenの小窝</span></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li id="nav-index-li" class=""><a id="nav-index" href="{% url 'blog:index' %}">首页</a></li>
                        <li><a id="nav-about" href="{% url 'blog:about' %}">关于</a></li>
                        <li><a id="nav-contact" href="{% url 'blog:contact' %}">联系</a></li>
                        <li><a href="" target="_blank" id="nav-extensions">其他</a></li>
                        <li><a id="nav-faqs" href="">FAQ</a></li>
                        <li class="visible-xs"><a href="#" target="_blank">GitHub Project</a></li>
                        <li class="search visible-xs"><a href="{% url 'blog:new_search' %}">Search</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'blog:new_search' %}" title="Search" class="btn search-btn" id="nav-search">
                                <img class="search-icon"
                                     src="{% static 'src/search.svg' %}"
                                     width="16px" height="16px" alt="Search">
                                <img class="search-icon-inverted"
                                     src="{% static 'src/search_dark.svg' %}"
                                     width="16px" height="16px" alt="Search">
                            </a>
                        </li>
                        <li class="search">
                            <form class="nav-search search-form" method="get" id="searchform" action="{% url 'haystack_search' %}">
                                <div class="input-group">
                                    <input type="search" name="q" class="search-box form-control"
                                           placeholder="Search Blogs">
                                    <span class="input-group-btn">
                                    <button tabindex="0" class="btn" type="submit" aria-label="Search">
                                        <img class="search-icon"
                                             src="{% static 'src/search.svg' %}"
                                             width="16px" height="16px" alt="Search">
                                        <img class="search-icon-inverted"
                                             src="{% static 'src/search_dark.svg' %}"
                                             width="16px" height="16px" alt="Search">
                                    </button>
                                </span>
                                </div>
                            </form>
                        </li>
                        <!-- this was hiden in the home and download page, keeping it for now -->
                        <li><a itemprop="downloadUrl" class="link-button" href="#"
                               id="nav-download">
                            <img class="download-icon"
                                 src="{% static 'src/download.svg' %}"
                                 width="16px" height="16px" alt="Download VS Code">
                            <img class="download-icon-inverted"
                                 src="{% static 'src/download-black.svg' %}"
                                 width="16px" height="16px" alt="Download Resource">
                            <span class="hidden-sm">Download</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>